.advertisement-0 {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px;
}

.advertisement-1 {
    background-color: rgb(252, 252, 174);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.advertisement {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: inline-block;
    background: #e6a22e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    font-family: "Alfa Slab One", cursive;
    font-size: 3em;
}

.countDown {
    color: #e6a22e;
    position: fixed;
    top: -40vh;
    left: -40vw;
    font-size: 3em;
}

.doneScreen {
    width: 100vw;
    height: 100vh;
    color: black;
    font-size: 3em;
    position: absolute;
    top: -10vh;
    left: -40vw;
    text-shadow: 4px 0 0 #e6a22e, -4px 0 0 #e6a22e, 0 4px 0 #e6a22e,
        0 -4px 0 #e6a22e, 1px 1px #e6a22e, -1px -1px 0 #e6a22e,
        1px -1px 0 #e6a22e, -1px 1px 0 #e6a22e;
}
