.advertisement-0 {
    background-color: #e6a22e;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 200 !important;
    flex:1;
    text-align: left;
    margin: 20px;
}

.advertisement-0 {
    --color: black;
    --color-glow: black;
}

.advertisement-0-img {
    height: 60vh;
    margin:auto;
}


.advertisement-1 {
    background-color: rgb(252, 252, 174);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

