.splashContainer {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: inline-block;
    background: #e6a22e;
    display: flex;
    flex-direction: row;
    min-height: 250px;
    font-weight: 200 !important;
    font-family: "Alfa Slab One", cursive;
    overflow: hidden;
    position: relative;
}

.splashContainer svg {
    height: min(40vw, 40vh);
    width: min(40vw, 40vh);
}

img {
    width: 100%;
    display: block;
}

img#BurgerBunDown {
    margin-top: -10px;
}

img#BurgerBunUp {
    margin-bottom: -10px;
}

.burgerFlex {
    position: absolute;
    right: 0px;
    transform: translateX(-40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    position: relative;
}

.advertisement-text-bod {
    font-size: 3em;
}

.advertisement-text-head {
    font-size: 5em;
}
