.splashContainer {
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin:auto;
  display:inline-block;
  background: #e6a22e;

  min-height: 250px;
}

.splashContainer svg {
  height: min(40vw, 40vh);
  width: min(40vw, 40vh);
}

img {
  width: 30%;
  margin: auto;
  display: block;
}

img#BurgerBunDown {
  margin-top: -10px;
}

img#BurgerBunUp {
  margin-bottom: -10px;
}